# Pandas

In [1]:
#pandas is very useful in case of data manupulation in machine learning
#exactly behaves like an excel file

In [2]:
#Pandas
import pandas as pd
import numpy as np

In [3]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
iris
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [4]:
#creating a copy of iris 
df = iris.copy()

In [5]:
df.columns = ['sl','sw','pl','pw','flower_type']

In [6]:
print(df.head(3))
print(df.shape)
print(df.dtypes)

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
(149, 5)
sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

In [7]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [8]:
#counting the null entries
df.isnull().sum()

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

In [9]:
#iloc is used to access a part of the data.
df.iloc[1:4,2:4]

#we can directly access the columns
df['sl']
df.sl

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
5      4.6
6      5.0
7      4.4
8      4.9
9      5.4
10     4.8
11     4.8
12     4.3
13     5.8
14     5.7
15     5.4
16     5.1
17     5.7
18     5.1
19     5.4
20     5.1
21     4.6
22     5.1
23     4.8
24     5.0
25     5.0
26     5.2
27     5.2
28     4.7
29     4.8
      ...
119    6.9
120    5.6
121    7.7
122    6.3
123    6.7
124    7.2
125    6.2
126    6.1
127    6.4
128    7.2
129    7.4
130    7.9
131    6.4
132    6.3
133    6.1
134    7.7
135    6.3
136    6.4
137    6.0
138    6.9
139    6.7
140    6.9
141    5.8
142    6.8
143    6.7
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [11]:
#manipulating the dataframe using the pandas module

df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [12]:
a =df.drop(0)#makes a copy  and drops the 0th row in it
a.head()

#to make changes in the original data frame
#df.drop(1,inplace =True)#removes the row with label 0(removing by label)
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [13]:
df.columns
df.index

RangeIndex(start=0, stop=149, step=1)

In [14]:
#dropping by position/index

df.index[3]

#df.drop(df.index[3],inplace=True)
#df.drop(df.index[[0,1]],inplace=True)  #to remove more than 1
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [15]:
#checking conditions
df[df.sl>6.2]#gives those rows where condition holds true
#df[df.sl>6.2].describe()
c1 = df[df.flower_type=='Iris-versicolor']
c1

     sl   sw   pl   pw      flower_type
49  7.0  3.2  4.7  1.4  Iris-versicolor
50  6.4  3.2  4.5  1.5  Iris-versicolor
51  6.9  3.1  4.9  1.5  Iris-versicolor
52  5.5  2.3  4.0  1.3  Iris-versicolor
53  6.5  2.8  4.6  1.5  Iris-versicolor
54  5.7  2.8  4.5  1.3  Iris-versicolor
55  6.3  3.3  4.7  1.6  Iris-versicolor
56  4.9  2.4  3.3  1.0  Iris-versicolor
57  6.6  2.9  4.6  1.3  Iris-versicolor
58  5.2  2.7  3.9  1.4  Iris-versicolor
59  5.0  2.0  3.5  1.0  Iris-versicolor
60  5.9  3.0  4.2  1.5  Iris-versicolor
61  6.0  2.2  4.0  1.0  Iris-versicolor
62  6.1  2.9  4.7  1.4  Iris-versicolor
63  5.6  2.9  3.6  1.3  Iris-versicolor
64  6.7  3.1  4.4  1.4  Iris-versicolor
65  5.6  3.0  4.5  1.5  Iris-versicolor
66  5.8  2.7  4.1  1.0  Iris-versicolor
67  6.2  2.2  4.5  1.5  Iris-versicolor
68  5.6  2.5  3.9  1.1  Iris-versicolor
69  5.9  3.2  4.8  1.8  Iris-versicolor
70  6.1  2.8  4.0  1.3  Iris-versicolor
71  6.3  2.5  4.9  1.5  Iris-versicolor
72  6.1  2.8  4.7  1.2  Iris-versicolor
73  6.4  2.9  4.3  1.3  Iris-versicolor
74  6.6  3.0  4.4  1.4  Iris-versicolor
75  6.8  2.8  4.8  1.4  Iris-versicolor
76  6.7  3.0  5.0  1.7  Iris-versicolor
77  6.0  2.9  4.5  1.5  Iris-versicolor
78  5.7  2.6  3.5  1.0  Iris-versicolor
79  5.5  2.4  3.8  1.1  Iris-versicolor
80  5.5  2.4  3.7  1.0  Iris-versicolor
81  5.8  2.7  3.9  1.2  Iris-versicolor
82  6.0  2.7  5.1  1.6  Iris-versicolor
83  5.4  3.0  4.5  1.5  Iris-versicolor
84  6.0  3.4  4.5  1.6  Iris-versicolor
85  6.7  3.1  4.7  1.5  Iris-versicolor
86  6.3  2.3  4.4  1.3  Iris-versicolor
87  5.6  3.0  4.1  1.3  Iris-versicolor
88  5.5  2.5  4.0  1.3  Iris-versicolor
89  5.5  2.6  4.4  1.2  Iris-versicolor
90  6.1  3.0  4.6  1.4  Iris-versicolor
91  5.8  2.6  4.0  1.2  Iris-versicolor
92  5.0  2.3  3.3  1.0  Iris-versicolor
93  5.6  2.7  4.2  1.3  Iris-versicolor
94  5.7  3.0  4.2  1.2  Iris-versicolor
95  5.7  2.9  4.2  1.3  Iris-versicolor
96  6.2  2.9  4.3  1.3  Iris-versicolor
97  5.1  2.5  3.0  1.1  Iris-versicolor
98  5.7  2.8  4.1  1.3  Iris-versicolor

In [16]:
#adding a row

print(df.head())
print(df.iloc[0])#doing it by position

print(df.loc[4])#doing by label

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
sl                     4.9
sw                       3
pl                     1.4
pw                     0.2
flower_type    Iris-setosa
Name: 0, dtype: object
sl                     5.4
sw                     3.9
pl                     1.7
pw                     0.4
flower_type    Iris-setosa
Name: 4, dtype: object

In [17]:
df.loc[0]=[1,2,3,4,"Iris-setosa"]#added the data in the last ie tail
df.loc[157]=[1,2,3,4,"Iris-setosa"]
df.head()
df.tail()
df.drop(7)#dropping by label

      sl   sw   pl   pw     flower_type
0    1.0  2.0  3.0  4.0     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
8    4.9  3.1  1.5  0.1     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
10   4.8  3.4  1.6  0.2     Iris-setosa
11   4.8  3.0  1.4  0.1     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
16   5.1  3.5  1.4  0.3     Iris-setosa
17   5.7  3.8  1.7  0.3     Iris-setosa
18   5.1  3.8  1.5  0.3     Iris-setosa
19   5.4  3.4  1.7  0.2     Iris-setosa
20   5.1  3.7  1.5  0.4     Iris-setosa
21   4.6  3.6  1.0  0.2     Iris-setosa
22   5.1  3.3  1.7  0.5     Iris-setosa
23   4.8  3.4  1.9  0.2     Iris-setosa
24   5.0  3.0  1.6  0.2     Iris-setosa
25   5.0  3.4  1.6  0.4     Iris-setosa
26   5.2  3.5  1.5  0.2     Iris-setosa
27   5.2  3.4  1.4  0.2     Iris-setosa
28   4.7  3.2  1.6  0.2     Iris-setosa
29   4.8  3.1  1.6  0.2     Iris-setosa
30   5.4  3.4  1.5  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
120  5.6  2.8  4.9  2.0  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
122  6.3  2.7  4.9  1.8  Iris-virginica
123  6.7  3.3  5.7  2.1  Iris-virginica
124  7.2  3.2  6.0  1.8  Iris-virginica
125  6.2  2.8  4.8  1.8  Iris-virginica
126  6.1  3.0  4.9  1.8  Iris-virginica
127  6.4  2.8  5.6  2.1  Iris-virginica
128  7.2  3.0  5.8  1.6  Iris-virginica
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
157  1.0  2.0  3.0  4.0     Iris-setosa

[149 rows x 5 columns]

In [18]:
#reset index
df.reset_index(drop=True,inplace=True)#resets the index and drops the index column
df.tail()
df.index
df.drop(0,inplace=True)
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64', length=149)

In [19]:
#removing a column
#df.drop('pl',axis=1,inplace=True)#removes a column axis=1 for columnwise

In [20]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.822148    3.044295    3.785235    1.230872
std      0.915766    0.441952    1.749918    0.790475
min      1.000000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    4.000000

In [21]:

del df['sw']#deletes a column

In [22]:
df.describe()
df.head()

    sl   pl   pw  flower_type
1  4.7  1.3  0.2  Iris-setosa
2  4.6  1.5  0.2  Iris-setosa
3  5.0  1.4  0.2  Iris-setosa
4  5.4  1.7  0.4  Iris-setosa
5  4.6  1.4  0.3  Iris-setosa

In [23]:
#resetting the dataset
df = iris.copy()#creating a fresh copy of iris dataset
df.columns = ['sl','sw','pl','pw','flower_type']
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [24]:
#adding a column

#let say that column is diff of pl and pw

df["diff_pl_pw"] = df['pl']-df['pw']#added a new column which is a diffrence as simple as that
df.tail()
df['ones']=1#one column, all the values are same
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw  ones
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2     1
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1     1
2  4.6  3.1  1.5  0.2  Iris-setosa         1.3     1
3  5.0  3.6  1.4  0.2  Iris-setosa         1.2     1
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3     1

In [25]:
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw  ones
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2     1
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1     1
2  4.6  3.1  1.5  0.2  Iris-setosa         1.3     1
3  5.0  3.6  1.4  0.2  Iris-setosa         1.2     1
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3     1

# Handling The NaN values in a DataSet

In [26]:
#We can either Drop the values or replace it
#NaN can be put in the places using Numpy

df.iloc[2:4,1:3] = np.nan#set any value to nan using numpy nan value.
df.describe()
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw  ones
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2     1
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1     1
2  4.6  NaN  NaN  0.2  Iris-setosa         1.3     1
3  5.0  NaN  NaN  0.2  Iris-setosa         1.2     1
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3     1

In [40]:
df.sw.fillna(df.sw.mean(),inplace=True)
df.pl.fillna(df.pl.mean(),inplace=True)
a = df[df.flower_type=="Iris-setosa"]
#df.sw.fillna(a.sw.mean(),inplace=True)#filling the nan data with the mean of a particular flower type
df.head()

    sl        sw        pl   pw  flower_type  diff_pl_pw  ones
0  4.9  3.000000  1.400000  0.2  Iris-setosa         1.2     1
1  4.7  3.200000  1.300000  0.2  Iris-setosa         1.1     1
2  4.6  3.046939  3.806122  0.2  Iris-setosa         1.3     1
3  5.0  3.046939  3.806122  0.2  Iris-setosa         1.2     1
4  5.4  3.900000  1.700000  0.4  Iris-setosa         1.3     1

In [42]:
#Handling string based data
df['Gender'] = 'Female'
df.iloc[0:10,6]='Male'

def f(s):
    if s== "Male":
        return 0
    else:
        return 1

df['sex'] = df.Gender.apply(f)
df.head()
df.tail()

      sl   sw   pl   pw     flower_type  diff_pl_pw ones  Gender  sex
144  6.7  3.0  5.2  2.3  Iris-virginica         2.9    1  Female    1
145  6.3  2.5  5.0  1.9  Iris-virginica         3.1    1  Female    1
146  6.5  3.0  5.2  2.0  Iris-virginica         3.2    1  Female    1
147  6.2  3.4  5.4  2.3  Iris-virginica         3.1    1  Female    1
148  5.9  3.0  5.1  1.8  Iris-virginica         3.3    1  Female    1